.icons {
	padding: 10px;
	font-size: 15px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	color: white;
}

.buttonNavTab {
	background-color: #ddda08;
	padding: 20px;
	margin: 30px 83px 100px 86px;
	border-radius: 30px;
	color: #fff;
	font-weight: 600;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	transition: all 200ms ease;
	cursor: pointer;
	box-shadow: 0 4px 20px 0 rgba(61, 71, 82, 0.1), 0 0 0 0 rgba(0, 127, 255, 0);
	border: none;
	text-decoration: none;
}

.buttonNavTab:hover {
	background-color: #ddda0881;
}

.MuiListItemIcon-root {
	color: rgba(0, 0, 0, 0.54);
	display: inline-flex;
	min-width: 40px !important;
	flex-shrink: 0;
}
