.home {
	min-height: 100vh;
	background-color: #ffffffea;
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

.MuiContainer-root {
	width: 100%;
	display: block;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px !important;
	padding-right: 0px !important;
	background-color: white;
}

.howItWorksContainer {
	text-align: center;
	font-family: "Poppins", sans-serif;
	margin: auto;
	padding: 20px;
}

.block {
	height: 430px;
	width: 380px;
	margin: auto;
	font-size: large;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 5px #0000005e;
}

.bloc2k {
	height: 100%;
	width: 100%;
	margin: auto;
	font-size: large;
	display: block;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	font-family: "Raleway", sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	display: inline-block;
	background-color: #262b52;
}

.css-i4bv87-MuiSvgIcon-root {
	font-size: 5rem !important;
	margin-top: 20px;
}

.covid {
	color: red !important;
	font-size: 20px;
}

.covidIcon {
	color: red !important;
}

.notes {
	font-size: 10px;
}

h1 {
	font-size: 3rem;
	color: #262b52;
	font-family: "Raleway", sans-serif;
}

.iconStyleCalendar {
	height: 120px;
	width: 120px;
}

.iconStyleTruck {
	height: 100px;
	width: 100px;
}

.iconStyleDone {
	height: 90px;
	width: 90px;
}

.accordioImagenStyle {
	height: 600px;
	width: 850px;
	align-items: center;
}

.homeBox {
	margin-top: 15px;
}
