@import url("https://fonts.googleapis.com/css2?family=Dynalight&family=Lovers+Quarrel&family=Poppins:wght@600&family=Raleway:wght@300;400&display=swap");

#spanTitle {
	color: #1a237e;
}

.lead {
	font-family: "Poppins", sans-serif;
	color: rgb(0, 0, 0);
	font-size: 12px;
	font-weight: 100;
	text-align: center;
}

.contactBox {
	align-items: center;
	text-align: center;
	border-radius: 0rem;
	font-size: 12px;
	background-color: #ffffffbe;
	box-shadow: 0 0 5px #0000005e;
	color: white;
}

form {
	color: white;
	padding: 20px;
}

p {
	color: rgb(0, 0, 0) !important;
	font-family: "Raleway", sans-serif;
}

.logoBottom {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 10% !important;
}

@media screen and (max-width: 600px) {
	.logoBottom {
		display: block !important;
		margin-left: auto !important;
		margin-right: auto !important;
		width: 10% !important;
		/* transform: -50%; */
	}
}

